      .intro {
        border:dashed 5px;
        border-radius: 25px;
        padding:10px;
        margin:0 auto;
        color:cyan;
        background-color:magenta;
        font-size: 1rem;
        font-family: Courier;
        text-align:left;
        width:75%;
      }
      
      .favs {
        color:red;
        background-color: black;
        font-size: 1rem;
        font-family:Courier;
        text-align:center;
      }
      
       body {
        background-color:turquoise;
        background: linear-gradient(cyan, pink , pink)
      }
      
      .content {
        text-align:center;
        height:100%;
        background: linear-gradient(cyan, pink, pink)
      }
      
      .image {
        width:100%;
      }
      
      .h1 {
        color:purple;
        background-color:gold;
        font-size: 2rem;
      }
      
      .p1 {
        border:outset 5px;
        border-color:gold;
        padding:5px;
        margin:0 auto;
        color:gold;
        background-color: black;
        text-align:right;
        width:50%;
        font-size: 1rem;
        font-family: courier;
      }
      
      .p2 {
        color:gold;
        background-color: black;
        width:1000px;
        text-align:center;
        border:outset 5px gold;
        margin: 0 auto;
        font-size: 1rem;
        font-family: courier;
      }
      
      .pbackground {
        border:outset 5px;
        border-color:purple;
        padding:5px;
        margin:0 auto;
        background-color:cyan;
        width:15%;
        font-size: 1rem;
        font-family:Courier;
        color:purple;
      }

      .video {
       width:100%;
      }

      .header {
       min-width: 300px;
       max-width: 100px;
      }

      .Saturation3 {
        border:outset 5px;
        border-color:blue;
        padding:5px;
        margin:0 auto;
        color:blue;
        background-color:white;
        text-align:left;
        width:50%;
        font-size:1rem;
        font-family:courier;
      }
